@{
    ViewData["Title"] = "Index";
}

<h2>Top 5 Stock Pick Application</h2>
<hr />

<div>
    <p>
        <br />
        <h3>This application generates top five stock buy picks and top five stock sell picks.</h3>
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Symbols">Load Symbols</a> tab fetches symbols data from the
        <a href="https://iextrading.com/developer/docs/#collections">IEX Collections API </a> and displays the results.
        Once the data is saved in the local database, it can be viewed in the Chart tab
        and it also is the the source data for the Top 5 Picks and Top 5 Sells calculations.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Chart">Chart</a> tab lets you select a Company(symbol) and review its history in chart format.
        The history can also be saved in the local database.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Top5Picks">Top 5 Picks</a>  provides recommendations on top 5 stocks to buy
        based on the symbols data loaded in the database. The logic for the top 5 buys utilizes the 52 Week Price Strategy. It is calculated by
        dividing the difference of the current price and the 52 week low of a stock by the difference of the 52 week high and 52 week low. This
        strategy looks into the momentum of the price and how quickly the price is going up. Those that are moving up at a quicker rate are
        more likely to keep moving up. For our top stocks we look at those with a rate greater than .82 as they tend to outperform,
        and we provide the 5 with the highest momentum.
        <br />
        <br />
        Dominique - This project helped us to learn both skills to be successful in technology and in business in general. On the technology side,
        this project taught us how to access APIs and create, edit, and delete items in databases. It also helped with giving us the opportunity to use LINQ
        by creating queries to find certain data within the databases. On the business side it helped us learn to think about how the data is
        used by end users as it is important to build technology that is useful to the end users. More specifically we learned to understand how stocks are
        picked in the finance world and it had us think of how we would want the system to select stocks to buy.
        <br />
        <br />
        Chris - This project taught me a lot about distributed information systems. I learned how apis are used to communicate data amongst distributed systems.
        This project and the associated template that it was built with validated and reinforced all previous instruction. I still need to work on language 
        comprehension in c# and how values are passed between methods in the MVC framework. There were two abandoned functions that I worked on in this project.
        The first was a filter mechanism similar to the chart method. Specifically, i wanted to use the same drop down mechanic used in the chart method wherein 
        the api query was determined by user input. I had to abandon this due to my inability to replicate the Chart method used in pulling Equity list data. 
        With more time I would have learned to deconflict between numeric and nominal variables within model classes. The second was a News function that provided
        news articles relate to our selected stocks. Unfortunately, I could not make this work in time. All that being said, this was a fantastic assignment that
        did an effective job at demonstrating website development processes. 
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Refresh">Refresh</a> tab lets you refresh the local database, that is, remove all its contents.
    </p>
    <p>
    </p>
</div>
