
@{
    ViewData["Title"] = "AboutUs";
}

<h2>AboutUs</h2>

<div>
    <p>
        <br/>
        Carole - (Insights and inputs)
        <br/>
        <br />
        Dominique - This project helped us to learn both skills to be successful in technology and in business in general. On the technology side,
        this project taught us how to access APIs and create, edit, and delete items in databases. It also helped with giving us the opportunity to use LINQ
        by creating queries to find certain data within the databases. On the business side it helped us learn to think about how the data is
        used by end users as it is important to build technology that is useful to the end users. More specifically we learned to understand how stocks are
        picked in the finance world and it had us think of how we would want the system to select stocks to buy.
        <br />
        <br />
        Chris - This project taught me a lot about distributed information systems. I learned how apis are used to communicate data amongst distributed systems.
        This project and the associated template that it was built with validated and reinforced all previous instruction. I still need to work on language
        comprehension in c# and how values are passed between methods in the MVC framework. There were two abandoned functions that I worked on in this project.
        The first was a filter mechanism similar to the chart method. Specifically, i wanted to use the same drop down mechanic used in the chart method wherein
        the api query was determined by user input. I had to abandon this due to my inability to replicate the Chart method used in pulling Equity list data.
        With more time I would have learned to deconflict between numeric and nominal variables within model classes. The second was a News function that provided
        news articles relate to our selected stocks. Unfortunately, I could not make this work in time. All that being said, this was a fantastic assignment that
        did an effective job at demonstrating website development processes.
        <br />
    </p>
    <p>
    </p>
</div>